<?xml version="1.0" encoding="UTF-8"?>

<widget id="com.nrn.sqlpractice"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>SQL Practice</name>

    <description>
        SQL Practice Mobile App
    </description>

    <author email="nrn@example.com">
        NRN
    </author>

    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />

    <!-- Allow Google Login -->
    <allow-intent href="https://accounts.google.com/*" />
    <allow-intent href="https://*.google.com/*" />
    <allow-intent href="https://*.gstatic.com/*" />

    <preference name="Fullscreen" value="true"/>
    <preference name="AndroidInsecureFileModeEnabled" value="true"/>
    <preference name="loglevel" value="DEBUG" />
    <preference name="android-minSdkVersion" value="21" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- InAppBrowser Plugin - ESSENTIAL for loading external content -->
    <plugin name="cordova-plugin-inappbrowser" spec="~5.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />

</widget>
